@font-face {
  font-family: "BYekan";
  src: url("BYekan.eot") format("eot"), url("BYekan.ttf") format("truetype"),
    url("BYekan.woff") format("woff");
}
* {
  font-family: BYekan, "BYekan", tahoma;
}
